// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/buttons.less";

.scoresheet {
  .score {
    font-size: 16em;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      font-size: 20em;
    }
  }

  button {
    width: 100%;
  }
}

.gameText {
  &:extend(h1);

  padding: 16px;
}
